body {
    margin: 0;
}

/* --------- navgation --------- */

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    cursor: pointer;
}

.nav-item {
    margin: 1rem;
}

img {
    height: 50px;
}

/* --------- sections --------- */
#section3 p {
    font-size: 5rem;
}