body, * {
    margin: 0;
    box-sizing: border-box;
}

/* .container {
    padding-bottom: 25px;
} */

h1 {
    position: fixed;
}

/* --------- navgation --------- */
.nav-content {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
}

.nav-items {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.nav-item {
    margin: 1.25rem;
}

img {
    height: 50px;
}

/* --------- sections --------- */
.section {
    margin: 0;
    border: none;
}

#section1, #section2, #section4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#section3 p {
    font-size: 5rem;
    margin: 0;
}

.map {
    height: 50vh; 
}

.mapboxgl-map {
    position: relative;
    height: 100%;
}

/* --------- footer --------- */

.footer {
    display: flex;
    height: 200px;
    background-color: bisque;
    border-top: 1px solid black;
}

.footer ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.footer li {
    list-style-type: none;
}